{% extends "layout.html" %}

{% block nav %}
  <li class="active"><a href="index.html">HOME</a></li>
  <li><a href="html.html">HTML</a></li>
  <li><a href="css.html">CSS</a></li>
  <li><a href="js.html">JAVASCRIPT</a></li>
  <li><a href="py.html">PYTHON</a></li>
  <li><a href="dj.html">DJANGO</a></li>
{% endblock %}

{% block body %}
  <header>
    <div class="">
      <center><h1>{{headline}}</h1></center><br>
      <center><h4>This project is made with <i class="fa fa-heart"></i></h4></center><br>
      <center><a href="#who_im_i" class="btn btn-default">View My Portfolio <i class="fa fa-arrow-down"></i></a></center>
    </div>
    <div id="header-img">
      <img src="images/img_bg_2.jpg" width="100%" height="100%">
    </div>
  </header>
  
  <main>
    <section id="who_im_i">
      <center><h1>Who I'm I?</h1></center>
      <div class="goal">
        <h4 class="about_me">About me</h4>
        <p>
          <span class="story_s">S</span><span>tory
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </span>
      </p>
      <div class="btn btn-warning text-center">Find out More</div>
    </div>
  </section>
  
  <section>
    <center><h1>My Skill Set</h1></center>
    <h4 class="skill-set">What have i learnt?</h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <ul>
            <li class="skill-set-li">
              <div class="skill-progress">
                <div class="btn btn-success d-flex align-items-center" style="width: 80%">HTML</div>
                <span class="badge">80%</span>
              </div>
            </li>
            
            <li class="skill-set-li">
              <div class="skill-progress">
                <div class="btn btn-info d-flex align-items-center" style="width: 50%">CSS</div>
                <span class="badge">50%</span>
              </div>
            </li>
            
            <li class="skill-set-li">
              <div class="skill-progress">
                <div class="btn btn-primary d-flex align-items-center" style="width: 60%">JAVASCRIPT</div>
                <span class="badge">60%</span>
              </div>
            </li>
            
            <li class="skill-set-li">
              <div class="skill-progress">
                <div class="btn btn-warning d-flex align-items-center" style="width: 48%">PYTHON</div>
                <span class="badge">48%</span>
              </div>
            </li>
            
            <li class="skill-set-li">
              <div class="skill-progress">
                <div class="btn btn-danger d-flex align-items-center" style="width: 35%">DJANGO, FLASK, SQL</div>
                <span class="badge">35%</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="">
            <img src="images/img_bg_2.jpg" alt="author-image" style="width:100%; height:50vh;" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <center><h1>Like My Portfolio?</h1></center>
    <div class="hm-cont" style="width: 70%; margin: auto; text-align: center; border: 1px solid black; padding-bottom: 10px;">
      <div>
        <h4 class="my_goal">Hire Me</h4>
        <form>
          <div class="form-group" style="display: block!important;">
            <label for="name">Name:</label>
            <input type="text" name="name" class="
            form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="
            form-control" id="email">
          </div>
          <div class="form-group">
            <label for="j-title">Job title:</label>
            <input type="text" name="j-title" class="
            form-control" id="j-title">
          </div>
        </form>
      </div>
      <div>
        <hr style="width: 40%;">OR<hr style="width: 40%;">
      </div>
      <div>
        <a href="tel:+2348112659304">Call: <span>+2348112659304</span></a>
      </div>
    </div>
  </section>

  <section>
    <center><h1>Learn Along With Me</h1></center>
    <h4 class="my_goal">Want to learn programming? check this out..</h4>
    <div class="container">
      <div class="row">
        <div class="langs col-sm-6 col-lg-4">
          <div>
            <center><h3>HTML</h3></center>
            <P>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo....
            </P>
            <center><a href="html.html" class="btn btn-success">Learn More</a></center>
          </div>
        </div>
        <div class="langs col-sm-6 col-lg-4">
          <div>
            <center><h3>CSS</h3></center>
            <P>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo....
            </P>
            <center><a href="css.html" class="btn btn-info">Learn More</a></center>
          </div>
        </div>
        <div class="langs col-sm-6 col-lg-4">
          <div>
            <center><h3>JAVASCRIPT</h3></center>
            <P>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo....
            </P>
            <center><a href="js.html" class="btn btn-default">Learn More</a></center>
          </div>
        </div>
        <div class="langs col-sm-6 col-lg-4">
          <div>
            <center><h3>PYTHON</h3></center>
            <P>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo....
            </P>
            <center><a href="py.html" class="btn btn-warning">Learn More</a></center>
          </div>
        </div>
        <div class="langs col-sm-6 col-lg-4">
          <div>
            <center><h3>DJANGO</h3></center>
            <P>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo....
            </P>
            <center><a href="dj.html" class="btn btn-danger">Learn More</a></center>
          </div>
        </div>
        <div class="langs col-sm-6 col-lg-4">
          <div>
            <center><h3>LEARN MORE</h3></center>
            <P>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </P>
            <center><h5>Learn more from <span class="badge">Web programming with python and Javascript</span> by Brian</h5></center>
            <center><div class="btn btn-primary">Learn Now!</div></center>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="w-shedule">
    <center><h1>My Weekly Shedule For coding</h1></center>
    <h4 class="skill-set">How do i learn?</h4>
    <article>
      <div class="section-header"><h2><b>Weekly Shedule</b></h2></div>
      <div class="ev2 ev">
        <table>
          <tr>
            <th>Days</th>
            <th>10:00am - 12:00pm</th>
            <th>BREAK</th>
            <th>02:00pm - 04:00pm</th>
          </tr>
          <tr>
            <td>Mon.</td>
            <td>
              <h4>HTML</h4>
            </td>
            <td></td>
            <td><h4>CSS</h4></td>
          </tr>
          <tr>
            <td>Wed.</td>
            <td>
              <h4>PYTHON</h4>
            </td>
            <td></td>
            <td><h4>DJANGO</h4></td>
          </tr>
          <tr>
            <td>Fri.</td>
            <td>
              <h4>PYTHON</h4>
            </td>
            <td></td>
            <td>
              <h4>DJANGO</h4>
              <h4>SQL</h4>
            </td>
          </tr>
          <tr>
            <td>Sun.</td>
            <td>
              <h4>HTML</h4>
              <h4>CSS</h4>
            </td>
            <td></td>
            <td><h4>PRACTICAL PROJECT</h4></td>
          </tr>
        </table>
      </div>
      </article><!-- Weekly Shedule -->
    </section>
    <section>
      <center><h1>My Goal</h1></center>
      <div class="goal">
        <h4 class="my_goal">Why i learn coding?</h4>
        <ol>
          <li>Coding (Web Development) is just what i came across through a friend who instill the inspiration in me,</li>
          <li>Helping people in my locality grow their business through online marketing is also one of my goal,</li>
          <li>Helping my fellow students gather info on my site for easy accessibility, and meny more.</li>
        </ol>
      </div>
    </section>
    
  {% endblock %}
      
      