{% extends "layout.html" %}

{% block nav %}
	<li><a href="{{url_for('index')}}">HOME</a></li>
	<li><a href="{{url_for('html')}}">HTML</a></li>
	<li><a href="{{url_for('css')}}">CSS</a></li>
	<li><a href="{{url_for('js')}}">JAVASCRIPT</a></li>
	<li class="active"><a href="{{url_for('py')}}">PYTHON</a></li>
	<li><a href="{{url_for('dj')}}">DJANGO</a></li>
{% endblock %}

{% block body %}
	<div class="header">
		<center><h1 style="padding-bottom: 5vh;">PYTHON</h1></center>
		<div class="min-nav">
			<a href="{{url_for('index')}}" class="btn-sm btn-danger">Home</a>&nbsp;
			<i class="fa fa-angle-double-right"></i> &nbsp;
			<small style="font-family: monospace, monospace;">PYTHON</small>
		</div>
		<div class="content-container">
			<P style="line-height: 2">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				<span><a href="" class="btn-sm btn-danger">Learn More</a></span>
				<div style="width: 100%;  text-align: right;">
					<span class="btn btn-success"><q> Food For the Data Scientists </q><br>Paul Innocent</span>
				</div>
			</P>
		</div>
	</div>
{% endblock %}
			